replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: glpi/glpi
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  host: glpi.afpa-devops.lab
  path: /
  pathType: Prefix

persistence:
  enabled: true
  accessModes:
    - ReadWriteMany
  size: 8Gi
  storageClass: nfs-static
  mountPath: /var/www/html/glpi-content

glpi:
  dbHost: "10.20.71.10:3306"
  dbName: "glpi"
  dbUser: "glpi_user"
  dbPassword: ""
